// Orange
$orange : rgba(220, 95, 18, 1);
$orange-bleak : rgba(193, 86, 21, 1);

// Grey
$white-fade : rgba(255, 255, 255, 0.85);
$superlight-grey : rgba(240, 240, 240, 1);
$lightgrey : rgba(193, 193, 193, 1);
$lightgrey-fade : rgba(120, 120, 128, 0.2);
$grey : rgba(89, 89, 89, 1);
$darkgrey : rgba(78, 78, 78, 1);
$almost-black : rgba(25, 25, 25, 1);
$black-fade : rgba(0, 0, 0, 0.85);

//mixins
@mixin sectionPadding {
    padding-bottom : 180px;
}