@use '../globals/variables' as *;

.section-title-wrapper {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.section-title {
    display: block;
    padding : 8px 60px;
    border : 1px solid $grey;
    text-transform: uppercase;

    background-color: white;
    border-radius: 20px;

    color : $black-fade;
    font-family : 'Prompt', sans-serif;
    font-weight : 400;
    font-size : 40px;
    line-height : 1.4;
}
@media (max-width : 1024px) {
    .section-title-wrapper {
        padding-bottom: 60px;
    }
    .section-title {
        font-size : 32px;
        text-align: center;
    }
}
